---
// MusicPlayer.astro
---

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pop</title>
    <link rel="icon" href="/favicon/icon.png" sizes="32x32" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
    <script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/meting@latest/dist/Meting.min.js" defer></script>
    
    <style>
        .body {
            font-family: 'Lato', sans-serif;
            background-color: #EAEFF5;
            margin: 0;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }
        h2 {
            font-size: 24px;
            color: #333;
            margin-bottom: 20px;
        }
        .container {
            width: 90%;
            max-width: 600px;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }
        .container p {
            font-size: 16px;
            color: #666;
        }
        footer {
            margin-top: 30px;
            font-size: 14px;
            color: #999;
        }
    </style>
</head>
<body>
<div class="body">
            
<div class="container">
    
    <!-- APlayer container -->
    <div id="aplayer"></div>

    <!-- APlayer JavaScript -->
    <script src="https://unpkg.com/aplayer/dist/APlayer.min.js"></script>

</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const ap = new APlayer({
            container: document.getElementById('aplayer'),
            lrcType: 3,
                audio: 
                [
                    {
                        name: 'YOSHIKI,Hyde',
                        artist: 'Red Swan',
                        url: '/music/POP/YOSHIKI,Hyde - Red Swan.flac',
                        cover: '/music/POP/YOSHIKI,Hyde - Red Swan.jpg',
                        lrc: '/music/POP/YOSHIKI,Hyde - Red Swan.lrc',
                    },
                    {
                        name: 'Call of Silence',
                        artist: '澤野弘之、R!NGemie',
                        url: '/music/POP/Call of Silence - 澤野弘之、R!NGemie.flac',
                        cover: '/music/POP/Call of Silence - 澤野弘之、R!NGemie.jpg',
                        lrc: '/music/POP/Call of Silence - 澤野弘之、R!NGemie.lrc',
                    },
                    {
                        name: '悪魔の子',
                        artist: 'ヒグチアイ',
                        url: '/music/POP/悪魔の子 - ヒグチアイ.flac',
                        cover: '/music/POP/悪魔の子 - ヒグチアイ.jpg',
                        lrc: '/music/POP/悪魔の子 - ヒグチアイ.lrc',
                    },
                    {
                        name: 'βios',
                        artist: '小林未郁',
                        url: '/music/POP/βios - 小林未郁.flac',
                        cover: '/music/POP/βios - 小林未郁.jpg',
                        lrc: '/music/POP/βios - 小林未郁.lrc',
                    },
                    {
                        name: 'Wish My Life Away',
                        artist: 'Kan R.Gao Laura Shigihara',
                        url: '/music/POP/Wish_My_Life_Away-Kan_R._Gao Laura_Shigihara-HQ.flac',
                        cover: '/music/POP/Wish_My_Life_Away-Kan_R._Gao Laura_Shigihara-HQ.jpg',
                        lrc: '/music/POP/Wish_My_Life_Away-Kan_R._Gao Laura_Shigihara-HQ.lrc',
                    },
                    {
                        name: '小さなてのひら',
                        artist: 'riya',
                        url: '/music/POP/riya - 小さなてのひら.flac',
                        cover: '/music/POP/riya - 小さなてのひら.jpg',
                        lrc: '/music/POP/riya - 小さなてのひら.lrc',
                    },
                    {
                        name: 'Name of Love',
                        artist: 'cinema staff',
                        url: '/music/POP/Name of Love - cinema staff.flac',
                        cover: '/music/POP/Name of Love - cinema staff.jpg',
                        lrc: '/music/POP/Name of Love - cinema staff.lrc',
                    },
                    {
                        name: 'Call your name Gv',
                        artist: '澤野弘之、R!NGemie',
                        url: '/music/POP/Call your name Gv - 澤野弘之、R!NGemie.flac',
                        cover: '/music/POP/Call your name Gv - 澤野弘之、R!NGemie.jpg',
                        lrc: '/music/POP/Call your name Gv - 澤野弘之、R!NGemie.lrc',
                    },
                    {
                        name: 'CBefore my body is dry BEST OF VOCAL WORKS',
                        artist: '小林未郁 David_W.',
                        url: '/music/POP/Before_my_body_is_dry_BEST_OF_VOCAL_WORKS_nZk_小林未郁_David_W.flac',
                        cover: '/music/POP/Before_my_body_is_dry_BEST_OF_VOCAL_WORKS_nZk_小林未郁_David_W.jpg',
                        lrc: '/music/POP/Before_my_body_is_dry_BEST_OF_VOCAL_WORKS_nZk_小林未郁_David_W.lrc',
                    },
                    {
                        name: 'Avid',
                        artist: 'awanoHiroyuki[nZk]、瑞葵(mizuki)',
                        url: '/music/POP/Avid - SawanoHiroyuki[nZk]、瑞葵(mizuki).flac',
                        cover: '/music/POP/Avid - SawanoHiroyuki[nZk]、瑞葵(mizuki).jpg',
                        lrc: '/music/POP/Avid - SawanoHiroyuki[nZk]、瑞葵(mizuki).lrc',
                    },
                ]       
        });
        });
</script>
</div>
</body>
</html>
